@model List<Party>

@{
    ViewData["Title"] = "All your parties";
}

<a asp-controller="Party" asp-action="AddPartyRequest">Add a new party</a>
<table class="table table-bordered table-striped mt-1">
    <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Location</th>
            <th># of Invites</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model)
        {
            <tr>
                <td>@party.Description</td>
                <td>@party.EventDate?.ToString("dddd, dd MMMM yyyy")</td>
                <td>@party.Location</td>
                <td>@party.Invitations.Count()</td>
                <td>
                    <a asp-controller="Party" asp-action="ManagePartyRequest" asp-route-id="@party.PartyId">Manage</a>
                    <span class="mix">|</span>
                    <a asp-controller="Party" asp-action="EditPartyRequest" asp-route-id="@party.PartyId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>